extends ../layout

block content

  .container(style='margin-top:10px;')
    .row.form-group
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title You can even have a Panel Title
          .panel-image
            img.panel-image-preview(src='https://cdn.shopify.com/s/files/1/0608/2925/products/RestoringTheBalance_1024x1024.jpg?v=1413372384')
            label(for='toggle-1')
          input#toggle-1(type='checkbox')
          .panel-body
            h4 Title of Image
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.
          .panel-footer.text-center
            a(href='#download')
              span.glyphicon.glyphicon-download
            a(href='#facebook')
              span.fa.fa-facebook
            a(href='#twitter')
              span.fa.fa-twitter
            a(href='#instagram')
              span.fa.fa-instagram
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title You can even have a Panel Title
          .panel-image.hide-panel-body
            img.panel-image-preview(src='https://cdn.shopify.com/s/files/1/0608/2925/products/UnbreakableBonds_1024x1024.jpg?v=1413372335')
            label(for='toggle-2')
          input#toggle-2(type='checkbox')
          .panel-body
            h4 Title of Image
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.
          .panel-footer.text-center
            a(href='#download')
              span.glyphicon.glyphicon-download
            a(href='#facebook')
              span.fa.fa-facebook
            a(href='#twitter')
              span.fa.fa-twitter
            a(href='#instagram')
              span.fa.fa-instagram
    .row.form-group
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title You can even have a Panel Title
          .panel-image.hide-panel-body
            img.panel-image-preview(src='https://cdn.shopify.com/s/files/1/0608/2925/products/TheHeroRets1_1024x1024.jpg?v=1413337248')
            label(for='toggle-3')
          input#toggle-3(type='checkbox')
          .panel-body
            h4 Title of Image
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.
          .panel-footer.text-center
            a(href='#download')
              span.glyphicon.glyphicon-download
            a(href='#facebook')
              span.fa.fa-facebook
            a(href='#twitter')
              span.fa.fa-twitter
            a(href='#instagram')
              span.fa.fa-instagram
      .col-xs-12.col-md-6
        .panel.panel-default
          .panel-heading
            h3.panel-title You can even have a Panel Title
          .panel-image
            img.panel-image-preview(src='https://cdn.shopify.com/s/files/1/0608/2925/products/WolfGirl1_1024x1024.jpg?v=1421365195')
            label(for='toggle-4')
          input#toggle-4(type='checkbox', checked='')
          .panel-body
            h4 Title of Image
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.
          .panel-footer.text-center
            a(href='#download')
              span.glyphicon.glyphicon-download
            a(href='#facebook')
              span.fa.fa-facebook
            a(href='#twitter')
              span.fa.fa-twitter
            a(href='#instagram')
              span.fa.fa-instagram
  nav(aria-label='...')
    ul.pager
      li
        a(href='#') Previous
      li
        a(href='#') Next
